<div id="container" class="container mt-5" >
  <div class="row">
  <div  class="col">
    <form class="p-3 shadow">
        <fieldset class="form-group">
          <div class="row">      
            <legend class="col-sm-2 col-form-label col-form-label-sm">Privacy:</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" id="privacyTypePublic" type="radio" name="privacy" title="Survey can be seen by all users" checked>
                <label class="form-check-label" for="privacyTypePublic">Public</label>
              </div>
              <div class="form-check">
              <input class="form-check-input" id="privacyTypeRestricted" type="radio" name="privacy" title="Survey can be seen only by registered users">
              <label class="form-check-label" for="privacyTypeRestricted">Registered users only</label>              
              </div>       
            </div>
          </div>
          <hr>
        </fieldset>
        <fieldset class="form-group">
            <div class="row ">
              <legend class="col-sm-2 col-form-label col-form-label-sm">Expire Date:</legend>
              <input class="form-control col-sm-4" type="date">
              <legend class="col-sm-2 col-form-label col-form-label-sm">(optional)</legend>
            </div>
            <hr>
          </fieldset>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-sm-2 col-form-label col-form-label-sm">Description:</legend>
            <textarea class="form-control col-sm-9" id="descriptionTextArea" rows="3" cols="75" maxlength="270"></textarea>
          </div>
          <hr>
        </fieldset>
        <fieldset class="form-group p-3 shadow">
          <div *ngFor="let question of questions; let i=index">
            <div class="row form-inline" >
                <span class="mx-2">{{i+1}}</span>
                <input type="text" class="form-control mx-sm-3" [value]="question.text" size=35 id="question" disabled>
               <button (click)="deleteQuestion(i)" class="btn btn-danger mx-sm-3">Delete</button>
            </div>
            <div class="row form-inline" *ngFor="let answer of question.surveyAnswers; let i=index">
                <span class="mx-2">{{i+1}}</span>
                <input type="text" class="form-control mx-sm-3" [value]="answer.text" size=35 id="question" disabled>
            </div>
          </div>
            <div class="row form-inline">
                <input type="text" class="form-control mx-sm-3" size=35 id="question" [(ngModel)]="questionText" [ngModelOptions]="{standalone: true}" placeholder="Enter your question">
                <select class="form-control" id="selectQuestionType">
                    <option selected>Single choice</option>
                    <option>Multiple choice</option>              
                </select>
               <button (click)="addQuestion(questionText)" class="btn btn-primary mx-sm-3">Add question</button>
              </div>
              <div class="row form-inline bg-light" *ngFor="let answer of answers; let i = index">
                  <span class="mx-2">{{i+1}}</span>
                  <input type="text" class="form-control mx-2 my-2" [value]="answer.text" size=50 disabled>
                  <button type="submit" (click)="deleteAnswer(i)" class="btn btn-danger mx-3">Delete</button>
      </div>
      <div class="row form-inline">
            <input type="text" class="form-control mx-2 my-2" [(ngModel)]="answerValue" [ngModelOptions]="{standalone: true}" size=50 id="answer" placeholder="Enter an answer">
            <button  (click)="addAnswer(answerValue)" class="btn btn-primary mx-1">Add answer</button>
      </div>
          </fieldset>
    </form>
    
  </div>
</div>
</div>
