<div class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron mt-5">
          <h1 class="text-center align-middle">Welcome to Online Survey Creator</h1>
          <p class="text-center align-middle">
            Get the feedback you need with free survey software!
          </p>
          <div class="text-center">
            <span style="display: inline;" >
              <button type="button" class="btn btn-primary" [hidden] = "authService.isAuthenticated()" (click) = "redirect('/login')">Sign in</button>
              <button type="button" class="btn btn-primary" [hidden] = "authService.isAuthenticated()" (click) = "redirect('/signup')">Sign up</button>
              <span [attr.title] = '(authService.isAuthenticated() && authService.getSurveyUser()?.blocked)?"Your account has been blocked!" : null' >
                <button type="button" class="btn btn-primary" [hidden] = "authService.isAuthenticated() == false" [disabled] = "authService.isAuthenticated() && authService.getSurveyUser()?.blocked"  (click) = "redirect('/newsurvey')">Create Survey</button>
              </span>
            </span>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12">
      <form (ngSubmit) = "searchSurveys(searchTerm)"  #f="ngForm">
      <div class="w-75 mx-auto input-group my-3 border-0 rounded input-group-lg shadow-lg">
        <input  [(ngModel)]="searchTerm" [ngModelOptions] = "{standalone: true}" type="text" class="form-control border-0" placeholder="Search Surveys" aria-label="Search Surveys" aria-describedby="button-addon2">
        <div class="input-group-append border-0">
          <button style="z-index: 0;" (click)="searchSurveys(searchTerm)" type="submit" class="btn" type="button" id="button-addon2"><i class="fas fa-search text-secondary "></i></button>
        </div>
      </div>
      </form>
      <survey-survey-list-home *ngFor="let survey of (surveys$ | async)" [survey]="survey" (onSurveyShare) = "onSurveyShare($event)"></survey-survey-list-home>
    </div>
  </div>
</div>

<!-- Share Survey Modal -->
<div class="modal fade" id="shareSurveyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareSurveyModalLabel">Share Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <input class="input border-0 col mx-3" id="url" type="text" [value] = "url" #c><button class="btn btn-danger mx-3" (click) = "onCopyClick(c)">Copy</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
