.survey-bg-primary-gradient {
background: rgb(0,123,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,123,255,1) 0%, rgba(0,153,255,1) 45%, rgba(0,199,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,123,255,1) 0%,rgba(0,153,255,1) 45%,rgba(0,199,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,123,255,1) 0%,rgba(0,153,255,1) 45%,rgba(0,199,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#00c7ff',GradientType=0 ); /* IE6-9 */

}

div .jumbotron {
    top: 25px;
    position: relative;
   
}

#url {
    background: transparent;
}

