<div class="row">
  <div class="col">
    <div class="list-group">
      <div class="card  *ngFor='let survey of (surveys$ | async)'">
       
        <div class="card-body">
          <!-- <h5 class="card-title">Survey tittle{{survey.tittle}}</h5> -->
          <p class="card-text">With supporting text below as a natural lead-in to additional content. yhukijgvtfrgg hjuy7hvgy6ju hj7uh7uj h7ujhvytyhu 8jiuvgfy    7u6yvu h7uhuj yt</p>
          <p class="card-text text-right"><small class="text-muted">Created by: </small><a href="#" class="user-link">user</a></p>
          

          <!-- <button type="button" [ngClass]="{active: selectedCategoryId === null}" class="btn btn-outline-secondary list-group-item" (click)="onCategorySelect(null)">Share</button> -->
          <a href="#" class="btn btn-primary">Go somewhere</a>

        </div>
        
      </div>
    </div>
  </div>
</div> 




