i.fab.fa-facebook-f, i.fab.fa-instagram{
    font-size: 20px;
    margin: 3px;
    }
i.fab.fa-facebook-f{
    color: #3B5998;
    }
i.fab.fa-instagram{
        color: #3B5998;
        }

i.fab.fa-facebook-f:hover, i.fab.fa-instagram:hover{
            opacity: .6;
           }


.card {
    min-width: 340px;
    max-width: 340px;
    min-height: 250px;
    max-height: 250px;
    width: 340px;  
    height: 250px; 
    margin: 6px; 
    border-radius:10px; 
    border: 1px solid #ccc; 
    background: #fff;
    float: left; 
}

    

.alignright {
    float: right;
}