<div class="row">
  <div class="col">
    <div class="list-group">
      <div class="card  *ngFor='let survey of (surveys$ | async)'">
       
        <div class="card-body">
          <!-- <h5 class="card-title">Survey tittle{{survey.tittle}}</h5> -->
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut mollis justo. Aliquam imperdiet ipsum at metus placerat,
             commodo interdum enim mattis. Nam efficitur ullamcorper sapien, vel pretium magna scelerisque id. Nulla eget fringilla ex. 
             Morbi ultrices accumsan laoreet. Integer at dignissi</p>
          <p class="card-text text-right"><small class="text-muted">Created by: </small><a href="#" class="user-link">user</a></p>
          

          <!-- <button type="button" [ngClass]="{active: selectedCategoryId === null}" class="btn btn-outline-secondary list-group-item" (click)="onCategorySelect(null)">Share</button> -->
          <a href="#" class="btn btn-primary">Participate</a>

        </div>
        
      </div>
    </div>
  </div>
</div> 




