<div class="card border my-2 mx-2 shadow animated fadeIn">
  <div class="card-header">
    <p class="card-text text-center"><small class="text-muted">Created by: <button (click)="onUserClicked(survey.surveyUser.id)" class="btn btn-link">{{survey.surveyUser.username}}</button>
      Status: <span [ngClass]="{'text-danger': survey.surveyStatus.surveyStatusType !== 'OPEN', 'text-success':survey.surveyStatus.surveyStatusType === 'OPEN'}">{{ survey.surveyStatus.surveyStatusType}} <span *ngIf="survey.surveyStatus.surveyStatusType === 'OPEN'? true:false">
      {{ifExpiryDateExists()}}</span></span></small></p>
  </div>
  <div class="card-body">
    <p class="card-text">{{ survey.surveyDescription }}</p>
  </div>  
  <div class="card-footer" style="display: inline;">
  <span *ngIf="survey.surveyStatus.surveyStatusType === 'OPEN'? true:false">
    <button class="btn btn-link" [hidden] = "authService.isAuthenticated() && authService.getSurveyUser()?.blocked" (click) = "onParticipateClick(survey.id)">Participate</button>
  </span>
    <button (click) = "onResultClick(survey.id)" class="btn btn-link"  [hidden] = "survey.surveyStatus.surveyStatusType === 'OPEN'" role="button">View results</button>
    <button class="btn btn-link alignright" (click) = "getSurveyUrl(survey.id)" data-toggle="modal" data-target="#shareSurveyModal"><i class="fas fa-share-alt text-secondary" ></i></button>
  </div>       
 </div>
