<div class="row justify-content-center">
  <div id="loginbox" class="border   col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
    <form (ngSubmit)="onLogin(f)" #f="ngForm">
      <div class="form-group">
        <label for="username" class="my-sm-3">Username</label>
        <input class="form-control" type="text" id="username" name="username" ngModel required #username="ngModel" [ngClass] = "{'is-invalid': error?.username || (username.invalid && username.touched) }" >
        <div class="invalid-feedback" *ngIf="username.invalid && (username.dirty || username.touched)">Please enter your username!</div>
      </div>
      <div class="form-group">
        <label for="password" >Password</label>
        <input class="form-control" type="password" id="password" name="password" ngModel required #password="ngModel" [ngClass] = "{'is-invalid': error?.password || (password.invalid && password.touched) }">
        <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter your password!</div>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        Bad credentials!
      </div>
      <button class="btn btn-primary my-sm-2" type="submit">Sign In</button>

      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85% " class="my-sm-3">Don't have an account?
        <a href="http://localhost:4200/#/signup" onclick="$('loginbox').hide()">Sign Up Here!</a>
      </div>

    </form>
  </div>
</div>
