<div class="from-group row">
      <form class="form-inline mx-auto">
        <!-- <div class="form-group"> -->
          <!-- <label for="question">Question</label> -->
        
          <input type="text" class="form-control mx-sm-3" size=35 id="question" placeholder="Enter your question">
        
        <!-- <div class="form-group"> -->
            <label class="sr-only" for="selectQuestionType">Select question type</label>

            <select class="form-control" id="selectQuestionType">
              <option selected>Single choice</option>
              <option>Multiple choice</option>              
            </select>
        <!-- </div> -->
        <button type="submit" class="btn btn-primary mx-sm-3">Add question</button>

        <!-- </div> -->
      </form>
</div>  
<survey-answer></survey-answer>