<div class="row">

           

      <form class="form-inline mx-auto">
        <!-- <div class="form-group"> -->
          <!-- <label for="question">Question</label> -->
        
          <input type="text" class="form-control mx-sm-3" size=50 id="question" placeholder="Enter your question">
        
      
        <!-- <div class="form-group"> -->
            <label class="sr-only" for="selectQuestionType">Select question type</label>

            <select class="form-control" id="selectQuestionType">
              <option>Multiple choice</option>
              <option>Single choice</option>
            </select>
        <!-- </div> -->
        <button type="submit" class="btn btn-primary mx-sm-3">Add</button>

        <!-- </div> -->
      </form>
</div>  
<survey-answer></survey-answer>