
    <fieldset class="form-group">
      <div class="row form-inline">
          <input type="text" class="form-control mx-sm-3" size=35 id="question" placeholder="Enter your question">
          <select class="form-control" id="selectQuestionType">
              <option selected>Single choice</option>
              <option>Multiple choice</option>              
          </select>
         <button type="submit" class="btn btn-primary mx-sm-3">Add question</button>
        </div>
        <survey-answer></survey-answer>
    </fieldset>
    
    