<survey-alerts [message]="message"></survey-alerts>
<div class="container animated fadeIn">
  <div class="row pt-3 mt-5">
    <div class=" shadow col-12 my-sm-3 mt-5">
    <form  (ngSubmit)="onSurveySubmit(f)" #f="ngForm">  
      <!-- get survey object -->
      <div class="d-flex justify-content-end">
        <blockquote class="blockquote">
          <p>created by: {{currentSurvey.surveyUser?.username}} <br>
            {{ifExpiryDateExists()}}
          </p>
        </blockquote>
      </div>
      <div class="row mt-2 mx-2">
        <div>
      <!-- show the description of that survey -->
          <blockquote class="blockquote">{{currentSurvey.surveyDescription}}</blockquote>   
        </div>     
      </div>        
      <div class="form-group col mt-3 mx-auto" *ngFor="let question of currentSurvey.surveyQuestions; let i = index">       
        <!-- show the question -->
        <b>{{i+1}}. {{question.text}}</b>
        <div class="btn-group-toggle">
        <div *ngFor="let answer of question.surveyAnswers; let i = index">
          <div class="form-check mt-1 ">
            <!-- show all the answers for that question -->
            <!-- name should be question.id so only one radio button can be selected -->
            <div *ngIf="question.questionType === 'SINGLE_ANSWER'">
                <input id="userAnswer" class="form-check-input" [name] = "question.id" type = "radio" ngModel required [value] = "answer.id"> {{answer.text}}
            </div>
            <div *ngIf="question.questionType === 'MULTIPLE_ANSWERS'">
                <input id="userAnswer" (change) = "onCheck(f)" class="form-check-input" [name] = "answer.id" type = "checkbox" ngModel > {{answer.text}}
            </div>
          </div>
        </div>
      </div>        
        <hr>
      </div>         
      <div class="d-flex justify-content-center">
        <span [attr.title] = "(f.invalid || !isCheckboxSelected()) ? 'You must answer all questions!' : null">
          <button class="btn btn-primary" type="submit" [disabled] = "f.invalid || !isCheckboxSelected()">Submit</button>    
        </span>
      </div>         
    </form>
<survey-comments (onCommentSave)="onSavedComment()" [currentSurvey]="currentSurvey" [comments]="comments"></survey-comments>

    </div>
  </div>
</div>

