<div class="container">
  <div class="row pt-3 mt-5">
    <div class=" shadow col-12 my-sm-3 mt-5">
    <form  (ngSubmit)="onSurveySubmit(f)" #f="ngForm">  
      <!-- get survey object -->
      <div class="d-flex justify-content-end">
        <blockquote class="blockquote">
          <p>created by: {{currentSurvey.surveyUser?.username}} <br>
            open until: {{currentSurvey?.surveyExpireDate}}
          </p>
        </blockquote>
      </div>
      <div class="row mt-2 mx-2">
      <!-- show the description of that survey -->
        <blockquote class="blockquote">{{currentSurvey.surveyDescription}}</blockquote>
        
      </div>        
      
      <div class="form-group col mt-3 mx-auto" *ngFor="let question of currentSurvey.surveyQuestions; let i = index">
        
        <!-- show the question -->
        <b>{{i+1}}. {{question.text}}</b>
        <div class="btn-group-toggle">
        <div *ngFor="let answer of question.surveyAnswers; let i = index">
          <div class="form-check mt-1 ">
            <!-- show all the answers for that question -->
            <!-- name should be question.id so only one radio button can be selected -->
            <div *ngIf="question.questionType === 'SINGLE_ANSWER'">
                <input class="form-check-input" [name] = "question.id" type = "radio" ngModel value= "{{answer.id}}"> {{answer.text}}
            </div>
            <div *ngIf="question.questionType === 'MULTIPLE_ANSWERS'">
                <input class="form-check-input" [name] = "answer.id" type = "checkbox" ngModel value = "{{answer.id}}"> {{answer.text}}
            </div>
          </div>
        </div>
      </div>        
        <hr>
      </div>         
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Submit</button>    
      </div>     
      {{f.value | json}}     
    </form>
    </div>
  </div>
</div>

