<div class="row form-inline bg-light" *ngFor="let answer of answers; let i = index">
            <span class="mx-2">{{i+1}}</span>
            <input type="text" class="form-control mx-2 my-2" [value]="answer.text" size=50 disabled>
            <button type="submit" class="btn btn-primary mx-3">Delete</button>
</div>
<div class="row form-inline">
      <input type="text" class="form-control mx-2 my-2" [(ngModel)]="answerValue" size=50 id="answer" placeholder="Enter an answer">
      <button  (click)="addAnswer(answerValue)" class="btn btn-primary mx-1">Add answer</button>
</div>



    
 
