<div id="container" class="row justify-content-center pt-5 mx-3 animated fadeIn">
    <div id="forgottenbox" class=" shadow-lg p-3 col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <form  (ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
          <p>To retrieve your password or username, please use the form below. We’ll send you an email with your username and password.</p>
          <label for="email" class="my-sm-3">Contact email</label>
          <input class="form-control" type="text" id="email" name="email" ngModel required #username="ngModel" [ngClass] = "{'is-invalid': error?.email || (email.invalid && email.touched) }" >
          <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">Please enter your email!</div>
        </div>
       
        <div class="alert alert-danger" *ngIf="error">
          Bad credentials!
        </div>
        <span [attr.title]='f.invalid ? "Please provide all required information!" : null '>
        <button  class="btn btn-primary my-sm-2" type="submit" [disabled]="f.invalid">Send</button>
      </span>
        <hr/>
  
        <div class="my-sm-3">
          <!-- <a href="http://localhost:4200/#/signup" onclick="$('forgottenbox').hide()">Sign Up Here!</a> -->
        </div>
  
      </form>
    </div>
  </div>