<div id="container" class="container my-5">
  <div class="row">
    <div class="col">
      <form class="p-3 shadow">

        <blockquote class="blockquote">Comments</blockquote>
         

        <fieldset class="form-group ">
        <div class="row mx-1 ">
        <textarea class="form-control col" id="descriptionTextArea" rows="3" cols="100" maxlength="270" placeholder="Enter your comment"></textarea>
        </div>
        <button class="btn btn-primary mx-2 mt-2">Add comment</button>
        <hr>
        </fieldset>
        <survey-comment-list></survey-comment-list>

  </form>
  </div>
  </div>
</div>
