<div class="container mt-5 pt-3 animated fadeIn">
  <div class="row">
    <div class="col">
      
      <survey-survey-list-home (onSurveyShare) = "onSurveyShare($event)" *ngFor="let survey of (surveys$ | async)" [survey]="survey" ></survey-survey-list-home>
    
    </div>
  </div>
</div>

<!-- Share Survey Modal -->
<div class="modal fade" id="shareSurveyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareSurveyModalLabel">Share Survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <input class="input border-0 col mx-3" id="url" type="text" [value] = "url" #c><button class="btn btn-danger mx-3" (click) = "onCopyClick(c)">Copy</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    